# Import

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model as lm

# Dataframe

In [2]:
df_raw = pd.read_csv('/content/drive/MyDrive/DataScience/houserocket/kc_house_data.csv')

In [3]:
df_raw.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

# Regressão Linear

In [4]:
#features
x_train = df_raw.drop(['price', 'date'], axis = 1)
#response 
y_train = df_raw['price'] .copy()

In [5]:
model_lm = lm.LinearRegression()

#model train
model_lm.fit(x_train, y_train)

LinearRegression()

In [6]:
pred = model_lm.predict(x_train)

In [7]:
pred

array([205766.26460957, 731219.6498298 , 379097.88265418, ...,
       147504.22423447, 391445.31930146, 150170.07469096])

# Insights

In [8]:
df1 = df_raw.copy()

In [9]:
df1['prediction'] = pred

In [10]:
df1['error'] = df1['price'] - df1['prediction']

In [13]:
df1[['id', 'price', 'prediction', 'error', 'error_abs']].head()

           id     price     prediction          error      error_abs
0  7129300520  221900.0  205766.264610   16133.735390   16133.735390
1  6414100192  538000.0  731219.649830 -193219.649830  193219.649830
2  5631500400  180000.0  379097.882654 -199097.882654  199097.882654
3  2487200875  604000.0  457424.134325  146575.865675  146575.865675
4  1954400510  510000.0  444789.054718   65210.945282   65210.945282

In [12]:
df1['error_abs'] = np.abs (df1['error'])

In [14]:
df1[['id', 'price', 'prediction', 'error', 'error_abs']].head()

           id     price     prediction          error      error_abs
0  7129300520  221900.0  205766.264610   16133.735390   16133.735390
1  6414100192  538000.0  731219.649830 -193219.649830  193219.649830
2  5631500400  180000.0  379097.882654 -199097.882654  199097.882654
3  2487200875  604000.0  457424.134325  146575.865675  146575.865675
4  1954400510  510000.0  444789.054718   65210.945282   65210.945282

In [15]:
np.sum(df1['error_abs']) / len ( df1['error_abs'])

125921.54419398634

In [16]:
np.mean(df1['error_abs'])

125921.54419398609

In [20]:
df1['error_perc'] = (df1['price'] - df1['prediction']) / df1['price']

In [22]:
df1['error_perc_abs'] = np.abs( df1['error_perc'])

In [ ]:
df1[['id', 'price', 'prediction', 'error', 'error_abs', 'error_perc', 'error_perc_abs']].head()

In [43]:
mae = np.mean(df1['error_abs'])
print('MAE: {}' .format(mae) )
mape = np.mean(df1['error_perc_abs'])
print('MAPE: {} '. format(mape))

MAE: 125921.54419398609
MAPE: 0.25580512536186956

# Resultado

In [42]:
#valor que o modelo erra em relação ao preço real
abs_error = np.mean(df1['error_abs'])
print(f'O modelo erra {"%4.f" % abs_error} dólares ao predizer o preço')
#valor que o modelo erra em porcentagem
mean_error = np.mean(df1['error_perc_abs'])
print(f'O modelo erra {"%.2f" % (mean_error * 100)} porcentos ao predizer o preço')

O modelo erra 125922 dólares ao predizer o preço
O modelo erra 25.58 porcentos ao predizer o preço